body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "A P-OTF Shuei MaruGo Std";
    width: 100%;
    max-width: 390px;
    height: 844px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
}
header {
    height: 80px;
    width: 100%;
}
#container {
    height: 684px;
    width: 390px;
    overflow: auto;
}
#sub_logo {
    margin-top: 0.5px;
    height: 71px;
    width: 186px;
    margin: 13px auto 0 auto;
}
#none {
    height: 103px;
    width: 77px;
}
.item_bar {
    height: 113px;
    width: 358px;
    background-image: url(../img/item_bar.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px auto 0 auto;
}
#item_title {
    position: absolute;
    top: -5px;
    left: -5px;
}
.item_bar a {
    height: 103px;
    width: 77px;
}
#nav_bar {
    background-image: url(../img/nav_bar.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}
